<div class="details-view">
  <ul class="details-view__states" *ngIf="
  {
    initialValue: initialValueChanged$ | async,
    finErrors: finErrors$ | async,
    finDisabled: finDisabled$ | async,
    emailError: emailFormErrors$ | async,
    formValue: formValue$ | async,
    formValid: formValidity$ | async
  } as states">
    <li class="details-view__states__item">
      <span class="details-view__states__item__label">
        Initial value changed:
      </span>
      <span class="details-view__states__item__value">
        {{states.initialValue}}
      </span>
    </li>
    <li class="details-view__states__item">
      <span class="details-view__states__item__label">
        Form valid:
      </span>
      <span class="details-view__states__item__value">
        {{states.formValid}}
      </span>
    </li>
    <li class="details-view__states__item">
      <span class="details-view__states__item__label">
        Email error - REQUIRED:
      </span>
      <span class="details-view__states__item__value">
        {{states.emailError?.required}}
      </span>
    </li>
    <li class="details-view__states__item">
      <span class="details-view__states__item__label">
        Email error - NOT EMAIL:
      </span>
      <span class="details-view__states__item__value">
        {{states.emailError?.email}}
      </span>
    </li>
    <li class="details-view__states__item">
      <span class="details-view__states__item__label">
        Form value:
      </span>
      <div class="details-view__states__item__value p-l-20" *ngFor="let prop of states?.formValue | keyvalue">
        {{prop.key}}:{{prop.value}}
      </div>
    </li>
    <li class="details-view__states__item">
      <span class="details-view__states__item__label">
        FIN disabled:
      </span>
      <span class="details-view__states__item__value">
        {{states.finDisabled}}
      </span>
    </li>
    <li class="details-view__states__item">
      <span class="details-view__states__item__label">
        FIN errors:
      </span>
      <div class="details-view__states__item__value p-l-20" *ngFor="let prop of states?.finErrors | keyvalue">
        {{prop.key}}:{{prop.value}}
      </div>
    </li>
  </ul>
</div>
