<div class="editor">
  <form class="editor__form" [formGroup]="form">
    <mat-form-field>
      <input matInput placeholder="FIN" formControlName="fin">
      <mat-error *ngIf="form.get('fin')?.errors?.required">Required FIN</mat-error>
      <mat-error *ngIf="form.get('fin')?.errors?.invalidFin">Invalid FIN</mat-error>
    </mat-form-field>
    <span>
      <mat-slide-toggle
        class="example-margin"
        color="primary"
        formControlName="disabledFin">
        Disable FIN!
      </mat-slide-toggle>
    </span>
    <mat-form-field>
      <input matInput placeholder="Name" formControlName="name">
      <mat-error *ngIf="form.get('name')?.errors?.required">Required name</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="email" placeholder="Email" formControlName="email">
      <mat-error *ngIf="form.get('email')?.errors?.required">Required email</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="tel" placeholder="Phone" formControlName="phone">
      <mat-error *ngIf="form.get('phone')?.errors?.required">Required phone</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="date" placeholder="Date" formControlName="date">
      <mat-error *ngIf="form.get('date')?.errors?.required">Required date</mat-error>
    </mat-form-field>
  </form>
</div>
