.editor-container {
  height: 100%;
  display: flex;
  flex-direction: column;

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__controls {
    display: flex;
    justify-content: center;

    button {
      margin-right: 20px;
    }
  }
}
