<div class="editor-container">
  <div class="editor-container__content">
    <div class="editor-container__content__editor">
      <app-details-editor></app-details-editor>
    </div>
    <div class="editor-container__content__view">
      <app-details-view></app-details-view>
    </div>
  </div>
  <div class="editor-container__controls">
    <button mat-raised-button color="primary" (click)="clearForm()">Clear</button>
    <button mat-raised-button>Submit</button>
  </div>
</div>
